.block-walkhub-floating-record-button > div {
  position: relative;
  z-index: 100;
}

#record-a-walkthrough-button {
  margin-bottom: 0px;
  font-size: 1.2rem;
  position: fixed;
  right: 10px;
  top: 100px;
  width: 150px;
  text-align: center;
  margin-top: 0px;
  padding: 10px 10px 25px;
  border-radius: 0.35em;
  background-color: rgba(150, 150, 150, 0.498039);
}

#record-a-walkthrough-button:hover {
  cursor: pointer;
}

#record-a-walkthrough-button  p {
  margin-bottom: 0;
  font-size: 1.2rem;
  margin-top: 0;
  padding: 10px 10px 20px;
}

#record-a-walkthrough-button  span.rec {
  background-color: #e00;
  border: 3px solid #600;
  padding: 11px 5px;
  border-radius: 30px;
  font-size: 1rem;
  display: inline-block;
}

#record-a-walkthrough-button .save-action i {
  font-size: 2rem;
}

 #record-a-walkthrough-popup-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,.55);
  top: 0;
  left: 0;
 }

 #record-a-walkthrough-popup {
  border-radius: 0.35em;
  position: fixed;
  left: 33.3%;
  top: 25%;
  background-color: rgb(0, 0, 0);
}

#walkthrough-record-popup-title p {
  padding-top: 10px;
}

#walkthrough-record-popup-title .close-popup {
  font-size: 1.5em;
  position: absolute;
  right: 6px;
  top: 4px;
}

#walkthrough-record-popup-title .close-popup:hover {
  cursor: pointer;
}

.walkthrough-record-form-error, #url-error {
  margin-top: -10px;
  font-size: .8rem;
  color: #ccc;
  margin-bottom: 15px;
  display: none;
}

#walkthrough-start-recording {
  background-color: #e00;
  border: 3px solid #600;
  padding: 11px 5px;
  border-radius: 30px;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  bottom: 6px;
}

#walkthrough-start-recording:hover {
  cursor: pointer;
}

#record-a-walkthrough-popup-modal label {
  color: #fff;
}

#walkthrough-recorded-steps {
  resize: none;
  height: 150px;
}

.walkthrough-record-popup-action-button-wrapper {
  padding-bottom: 15px;
}
.walkthrough-record-popup-action-button-wrapper i {
  font-size: 1rem;
  margin-right: 3px;
}

#walkthrough-record-save {
  float: left;
  color: #EEE;
  background: linear-gradient(#FE9800, #B26A00);
  border: 1px solid #B26A00;
  box-shadow: #FE9800 0 1px inset;
  text-shadow: 1px 1px 1px rgba(127, 76, 0, 0.75);
}

#walkthrough-record-reset {
  float: right;
}

#walkthrough-recorder-popup-notice {
  padding-top: 5px;
  background-color: #333;
  border: 5px solid #000;
  border-bottom-left-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
}

#walkthrough-recorder-popup-notice a {
  color: #2795B6;
}

#walkthrough-recorder-popup-notice a:hover {
  color: #3bb1d5;
}

@media handheld {
  .block-walkhub-floating-record-button {
    display: none;
  }
}
