.walkthrough-dialog fieldset legend {
  background: none;
  border: none;
  height: 1em;
  position: static;
  font-family: inherit;
  text-indent: 0;
  text-shadow: none;
  line-height: inherit;
  padding: inherit;
  width: auto;
}

.walkthrough-dialog textarea.share {
  font-size: 10px;
  width: 100%;
  height: auto;
}

.walkthrough-start-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: left;
}

.walkthrough-start-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child {
  font-size: smaller;
}

.walkhub-error-message {
  color: white;
  background-color: red;
  font-size: 12px;
  cursor: default;
  font-weight: bold;
  white-space: normal;
  padding: 5px;
  line-height: 16px;
  margin-bottom: 5px;
}

.button.markbroken {
  float: right;
}

#walkhub-record-form .form-item-steps {
  display: none;
}

#walkhub-record-form .form-item-password-parameter {
  display: none;
}

.walkhub-recording-indicator {
  cursor: default;
  font-weight: bold;
}

.ui-dialog-titlebar.recording {
  background-color: #eee;
  border-bottom: 2px groove #999;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  height: 54px;
}

.ui-dialog-titlebar.recording .ui-dialog-title {
  text-align: right;
  height: 40px;
}

.ui-dialog-titlebar .recordingContainer {
  position: relative;
  top: 10px;
  float: left;
}

#recDot {
  border-radius: .5rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: #f00;
  position: absolute;
  top: .2rem;
  left: 0;
}

.ui-dialog-titlebar.recording .recLabel {
  padding-left: 1.2rem;
}

#stepListContainer {
  position: absolute;
  top: 15px;
  left: 120px;
}

#stepListContainer .icon-chevron-down {
  position: absolute;
  top: 5px;
  z-index: 101;
}

#stepList {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  margin: 0;
  padding:3px 28px 3px 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 100;
  height: 1.9rem;
  overflow: hidden;
}

#stepList li {
  padding: 0 10px;
}

#stepList li:hover {
    background-color: #eee;
}

#stepList li::before {
    content: "Step";
    float: left;
    margin-right: 5px;
}

#stepList li span.removeStep {
  color: #eee;
  display: none;
  float: right;
  position: relative;
  top: 5px;
}

#stepList:hover li span.removeStep {
  display: block;
}

#stepList li:hover span.removeStep {
  color: #999;
}

#stepList li span.removeStep:hover {
  color: #666;
  cursor: pointer;
}

#stopRecording {
  position: relative;
  font-size: .8rem;
  line-height: 1rem;
  text-align: center;
  top: 8px;
}

#stopRecording:hover {
  color: #fff;
  text-shadow: none;
}
